{% extends 'layout.twig' %}

{% block body %}
<h1>Crée un contact</h1>
<form  onsubmit="return valider()">
  <div class="form-group">
    <label for="nom">nom</label>
    <input type="text" class="form-control" id="nom" placeholder="nom">
  </div>
  <div class="form-group">
    <label for="prenom">prenom</label>
    <input type="text" class="form-control" id="prenom" placeholder="prenom">
  </div>
  <div class="form-group">
    <label for="type">type</label>
    <input type="text" class="form-control" id="type" placeholder="type">
    <label for="adresseEmail">adresseEmail</label>
    <input type="email" class="form-control" id="adresseEmail" placeholder="adresseEmail">
  </div>
  <div class="form-group">
    <label for="type">type</label>
    <input type="text" class="form-control" id="type" placeholder="type">
    <label for="adresseEmail">adresseEmail</label>
    <input type="email" class="form-control" id="adresseEmail" placeholder="adresseEmail">
  </div>
 <div class="form-group">
    <label for="type">type</label>
    <input type="text" class="form-control" id="type" placeholder="type">
    <label for="numero">numero</label>
    <input type="number" class="form-control" id="numero" placeholder="numero">
  </div>
  <div class="form-group">
    <label for="type">type</label>
    <input type="text" class="form-control" id="type" placeholder="type">
    <label for="numero">numero</label>
    <input type="number" class="form-control" id="numero" placeholder="numero">
  </div>
  <div class="form-group">
    <label for="description">description</label>
    <input type="text" class="form-control" id="description" placeholder="description">
  </div>
 <div class="form-group">
    <label for="avatar">url avatar</label>
    <input type="url" class="form-control" id="avatar" placeholder="avatar">
  </div>
  {# <a href="javascript:valider">ffff</a> #}
    <input type="submit" id="createContact" class="btn btn-primary mb-2">Créer contact</input>
</form>
  {% endblock %}


{% block javascript %}
  <script type="text/javascript">


      //  function valider() {   
      //       console.log("helllll");
      //   var xhr = new XMLHttpRequest();
      //   xhr.open("POST", 'http://localhost:3000/contacts', true);

      //   xhr.send();
      //   // xhr.send(new Int8Array()); 
      //   // xhr.send(document);
      //   }


    function valider()
    {
      var elements = document.getElementsByClassName("form-control");
      var formData = new FormData(); 
      for(var i=0; i<elements.length; i++)
      {
          formData.append(elements[i].name, elements[i].value);
      }
      var xmlHttp = new XMLHttpRequest();
          xmlHttp.onreadystatechange = function()
          {
              if(xmlHttp.readyState == 4 && xmlHttp.status == 200)
              {
                  alert(xmlHttp.responseText);
              }
          }
          xmlHttp.open("POST", "http://localhost:3000/contacts"); 
          xmlHttp.send(formData); 
      }
    </script>

{% endblock %}