{% extends 'layout.twig' %}

{% block body %}
    <h2>Contacts</h2>
    <h4>Vous possèder {{nbContact}} contacts</h4>
    <div class="row">
    {% for contact in contacts %}
        <div class="col-md-4 trending">
            {% include "contact.twig" %}
        </div>
    {% endfor %}
    </div>

    <h2>Les 3 dernier contacts ajouter</h2>
    <div class="row">
        {% for contact in contactsLast %}
            <div class="col-md-4 trending">
                {% include "lastContact.twig" %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
